.SidebarContainer {
    --btnSize: 2rem; /* 2rem recommented */

    position: fixed;
    left: var(--padding-default);
    bottom: var(--padding-default);

    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.2);
    border: 1px rgba(255, 255, 255, 0.25) solid;
    backdrop-filter: blur(20px);
    overflow: hidden;
    border-radius: var(--radius-md);
    padding: var(--padding-sm);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: var(--gap-default);
}

.Sidebar {
    width: fit-content;

    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-sm);
    justify-content: flex-start;
    align-items: flex-start;

    button {
        aspect-ratio: 1 / 1;
        width: var(--btnSize);
        height: var(--btnSize);
        padding: var(--padding-2xs);
        box-sizing: border-box;
        border-radius: 50%;
        border: 1px white solid;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.SidebarBtn {
    aspect-ratio: 1 / 1;

    img {
        transform: scale(2);
    }
    canvas {

    }
}

.sidebarContent {
    display: none;
    width: 0;
    height: 100%;
}

.messageContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
    white-space: nowrap;

    user-select: none;

    figure {
        width: 3px;
        border-radius: 5px;
    }
}

.message {
    display: flex;
    flex-direction: column;
}

.success {

}