.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-default);
}

.buttonPreset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    contain: content;
    padding: var(--padding-sm);
    border-radius: var(--radius-sm);
    user-select: none;
    white-space: nowrap;
    position: relative;
    overflow: visible;
    border: 1px white solid;

    &::after {
        content: '';
        position: absolute;
        background-color: red;
        aspect-ratio: 1 / 1;
    }

    img {
        aspect-ratio: 1 / 1;
        height: 100%;
    }
}

.tooltip {
    position: absolute;
    padding: var(--padding-sm);
    color: #fff;
    border-radius: var(--radius-sm);
    white-space: nowrap;
    pointer-events: none;
    z-index: 9999;
    transform: translateX(-5%) scale(0.9);
    opacity: 0;
    font-family: 'Outfit', sans-serif;
    font-size: .65rem;
    font-weight: 300;
}

.buttonPreset .fillDiv {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
}

.glassyButton {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 8px 4px rgba(255, 255, 255, 0.4);
    position: relative;
    overflow: hidden;
}

.glassyButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent
    );
}

.glassyButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3)
    );
}

.btnCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}