.top-navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: var(--padding-default);

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--gap-default);

    border-radius: var(--radius-md);
    padding: var(--padding-default);


    button {
        border: unset;
        cursor: pointer;
        opacity: .8;
        transition: opacity ease var(--duration-default);
        &:hover { opacity: 1 }
        z-index: +100;
        user-select: none;

        display: flex;
        flex-direction: row;
    }
}

.navbarButtonSelector {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    border-radius: var(--radius-sm);
    padding: 5px;
    box-sizing: border-box;
    filter: brightness(3);

    pointer-events: none;
    overflow: hidden;
    z-index: +90;
    border: 1px white solid;
}
